apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-nginx
  labels:
    app: {{ .Release.Name }}-nginx
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-nginx
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-nginx
    spec:
      containers:
        - name: nginx
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.app.containerPort }}



# Learning:

# {{ ... }} : To insert dynamic values.
# name: {{ .Release.Name }}-nginx  : .Release.Name is a built-in Helm variable that gives the name of the release when you install or upgrade the chart.
# replicas: {{ .Values.replicaCount }}: replicaCount comes from values.yaml
